PORT = port
APP_URL=local url
DATABASE_URL=database url
JWT_ACCESS_SECRET= jwt access secret
JWT_REFRESH_SECRET= jwt refresh secret
JWT_ACCESS_EXPIRES_IN= jwt refresh expires time
JWT_REFRESH_EXPIRES_IN=jwt refresh expire time
NODE_ENV=string
SEED_ADMIN_NAME=City Admin
SEED_ADMIN_EMAIL=admin@example.com
SEED_ADMIN_PASSWORD=*******